.description {
  margin: auto;
  padding: 20px 30px;
  min-width: 320px;
  max-width: 400px;

  background-color: #ffffff;
  text-align: center;

  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.avatar {
  display: block;
  margin: 0 auto;
  padding: 5px;

  max-width: 100%;
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #e2e8ef;
}

.name {
  margin-bottom: 15px;
  font-weight: 700;
}

.tag {
  margin-bottom: 15px;
  color: #aeb5bc;
}

.location {
  margin-bottom: 15px;
  color: #aeb5bc;
}
